# If you want some example snippets, check out:
# https://github.com/atom/language-gfm/blob/master/snippets/gfm.cson

'.source.sad':
  'true':
    'prefix': 'true'
    'body': 'expr  true'
  'false':
    'prefix': 'false'
    'body': 'expr  false'
  'undef':
    'prefix': 'undef'
    'body': 'expr  undef'
  'equal':
    'prefix': 'equal'
    'body': 'expr  =()'
  'not':
    'prefix': 'not'
    'body': 'expr  not()'
