# If you want some example snippets, check out:
# https://github.com/atom/language-gfm/blob/master/snippets/gfm.cson

'.source.sad':
  'expr true':
    'prefix': 'true'
    'body': 'expr  true'
  'expr false':
    'prefix': 'false'
    'body': 'expr  false'
  'expr undef':
    'prefix': 'undef'
    'body': 'expr  undef'
  'expr =()':
    'prefix': 'equal'
    'body': 'expr  =()'
  'expr not()':
    'prefix': 'not'
    'body': 'expr  not()'
  'expr and()':
    'prefix': 'and'
    'body': 'expr  and()'
  'expr or()':
    'prefix': 'or'
    'body': 'expr  or()'
